.myCustomStyle{
	background-color:#ffefd5;
	margin-bottom:15px;
}

body {
	color: #102A83;
	background-color: #FFEC00;
  }

.bg-dark .navbar-brand {
	background-color: #102A83;
	color: #FFEC00;
}

.navbar-custom {
	background-color: #102A83;
	color: #FFEC00;
}

.btn-dark {
	background-color: #102A83;
	color: #FFEC00;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
  }

.custom-toggler { 
	border-color: #FFEC00; 
} 
/* Setting the stroke to green using rgb values (0, 128, 0) */ 
  
.custom-toggler-icon { 
	background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 236, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 
